@import '../../styles/variables.less';

.store-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    .apply-box-shadow();

    &__cell,
    &__header {
        border-bottom: solid 1px @color-gray;
        background: @color-white;
        padding: 0.5rem;
    }

    &__cell {
        &--number {
            text-align: right;
        }

        &--lower {
            color: @color-lower-value;
        }
    }

    &__header {
        border: 0;
        border-bottom: solid 1px @color-gray;
        text-align: inherit;
        cursor: pointer;
        outline: 0;

        &--asc {
            background: @color-brand;
            color: @color-white;
        }

        &--desc {
            background: @color-lower-value;
            color: @color-white;
        }
    }
}
